@model IEnumerable<SourceExpenseViewModel>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SourceName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Value)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SourceName)
                </td>
                <td>
                    @item.Value.ToString("C")
                </td>
            </tr>
        }
    </tbody>
</table>
