@model IEnumerable<MonthlyExpenseViewModel>

<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.MonthName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Value)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MonthName)
                    </td>
                    <td>
                        @item.FormattedValue
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @await Html.PartialAsync("_ChartView", new ChartDataViewModel() { Expenses = Model, Type = ChartType.Line, ColumnName = "MonthName" })
</div>